
.fragment-entry-link-wrapper--hovered {
	z-index: 901;
}

.section-featured {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}

.featured-content-nav-panels-assets-widget .card-icon {
	display: none;
}

.category-nav-links-widget {

	.card {
		box-shadow: none;
	}

	ul {

		list-style-type: none;
		margin-left: 0;
		padding-left: 0;

		li a {
			text-decoration: none;
		}

		li::before {
			content: '\e613';
			font-family: 'brunel';
			color: $theme-brand-primary;
			font-size: 0.9375rem;
		}
	}

}

.featured-content {

	.outer {

	  background-color: $theme-grey5;
	  border-bottom: 6px solid $theme-grey4;
	  padding: 30px 20px 15px 20px;

		.cta-col {
			padding: 0.5rem 1rem;
		}

		a.btn-featured {
	  	width: 100%;
		}

		a.btn-featured::after, a.btn-featured:hover::after, a.btn-featured:focus::after, a.btn-featured:active::after, a.btn-featured:not([disabled]):not(.disabled):active::after {
			color: $theme-grey4;
			top: 35%;
		}

	}

	&.featured-content-hero-banner {

		.hero-image {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 500px;
			margin-bottom: 100px;
			position: relative;
			width: 100%;

			@include media-breakpoint-down(sm) {
				margin-bottom: 50px;
			}

			.container {
				position: absolute;
				left: 0;
				right: 0;
			}

			.hero-panel {
				margin-top: 280px;
				background-color: $hero-panel-bg !important;

				@include media-breakpoint-down(sm) {
					margin-top: 0px;
				}

				.outer {
					background-color: #2f737b;
					border-bottom-color: #1e4c52;
				}

				h1 {
					font-family: "Thesans-Semi-Bold","Helvetica Neue",Arial,sans-serif;
					font-size: 2.5rem;
					color: $theme-white;
					line-height: 40px;
					padding: 30px;
					margin: 0px;
				}

			}

			.btn-featured, .btn-featured:visited {
				color: $theme-grey1;
				background-color: $theme-white;
				border-bottom-color: $theme-grey4;
			}

			.btn-featured:hover, .btn-featured:focus, .btn-featured:active, .btn-featured:not([disabled]):not(.disabled):active {
				color: $theme-white;
				background-color: $theme-brand-primary;
				border-bottom-color: #9e0029;
			}

			.btn-featured:hover::after, .btn-featured:focus::after, .btn-featured:active::after, .btn-featured:not([disabled]):not(.disabled):active::after {
				color: $theme-white;
			}

		}

	}

}

.shadow-none .card-body {
	padding-left: 0px;
	padding-right: 0px;
}
