.multi-part-guide-content {
	margin-top: 40px;
	margin-bottom: 120px;

	.pagination {
		border-radius: 0;
		border-top: 2px solid $theme-primary-dark-color;
		display: block;
		margin: 2.25rem 0 0;
		font-size: 1rem;
		padding: 1.75rem 0 0;
		text-align: center;

		.pagination__list {
			list-style: none;
			padding: 0;

			.pagination__item {
				display: inline-block;

				&.pagination__item--previous {
					float: left;
					padding-right: 1.5rem;
					text-align: left;
					width: 50%;
				}

				&.pagination__item--next {
					float: right;
					padding-left: 1.5rem;
					text-align: right;
					width: 50%;

					.pagination__meta-group {
						-webkit-box-pack: end;
						-ms-flex-pack: end;
						justify-content: flex-end;
					}
				}

				.pagination__link {
					display: block;
					cursor: pointer;

					.pagination__label {
						display: block;
						font-weight: 700;
						font-size: 1.25rem;
						margin: 0;
					}

					.pagination__meta-group {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;

						.glyphicon {
							font-size: 1.2rem;

							&:hover {
								color: $theme-grey4;
							}
						}
					}

					.pagination__meta {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
			}
		}
	}
}

.guide_navigation {
	background-color: $theme-grey7;

	.container {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.multi-part-guide-navigation {

	&.contents {
		padding-bottom: 1.66rem;
    	border-bottom: 1px grey solid;
	}

	.boxed {
		background-color: $theme-white;
		box-shadow: none;
		margin: 0;
		padding: 2.25rem;
	}

	.heading {
		font-size: 1rem;
		margin-bottom: .8125rem;
	}

	.nav__heading {
		font-size: 1.5rem;

		&:first-of-type {
			margin-top: 0;
		}
	}

	.list {
		font-size: 1rem;
		line-height: 1.8rem;
		margin: 0;
		list-style-position: inside;
		list-style: none;
		padding-left: 0;

		.list__item {

			a.list__link {
				color: #09476d;
				cursor: pointer;
				font-size: 1rem;
				text-decoration: underline;
			}

			span.list__link {
				display: none;
			}

			&.list__item--active-child {

				a {
					display: none;
				}

				span.list__link {
					display: initial;
				}
			}

			&::before {
				content: "\2014";
    			margin-right: 10px;
			}
		}
	}

	.nav__list {
		-webkit-columns: 2;
		columns: 2;
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;

		.list__item {

			margin-bottom: 0.5rem;

			.list__link .glyphicon {
				font-size: 1.2rem;
				top: 3px;
			}

			a.list__link {
				cursor: pointer;
			}

			span.list__link {
				display: none;

				&.is-active {
					font-weight: 700;
				}
			}

			&.list__item--active-child {

				a {
					display: none;
				}

				span.list__link {
					display: initial;
				}
			}
		}
	}

	@media screen and (max-width: 679px) {
		.nav__list {
			-webkit-columns: 1;
			columns: 1;
		}
	}
}
