.page-header {

	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: unset;

	.portlet {
		margin-bottom: 0;
	}

	h1.page-title {
		margin-top: 2rem;
		padding-right: 1rem;

		@include media-breakpoint-down(sm) {
			margin-bottom: 1rem;
		}
	}

	@include media-breakpoint-down(sm) {

		.col-search-bar {
			margin-bottom: 1rem;
		}

	}

}
