.portlet-layout {
	.portlet {
		.management-bar,
		.navbar-underline {
			> .container-fluid-max-xl {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.portlet-title-text {
			font-size: 1.875rem;
			font-weight: 600;
			line-height: 2.2;
			margin-bottom: 0;
		}
	}
}

.portlet {
	> .portlet-topper {
		font-size: 0.87rem;
		padding: 0 4px 0 8px;

		@include media-breakpoint-up(md) {
			display: block;
			white-space: nowrap;
		}

		@include media-breakpoint-up(sm) {
			right: auto;
		}

		.portlet-title-default {
			display: inline-block;
			line-height: 1.5rem;
			vertical-align: middle;
		}

		.portlet-name-text {
			margin-right: 0.75rem;
		}

		.portlet-topper-toolbar {
			display: inline-block;
			vertical-align: middle;
		}

		.portlet-topper-toolbar,
		.icon-monospaced {
			height: 1.5rem;
			line-height: 1.5rem;
			width: 1.5rem;
		}

		.lexicon-icon {
			height: 0.875rem;
			width: 0.875rem;
		}
	}

	&:hover,
	&.open {
		> .portlet-topper {
			z-index: 999;
		}
	}
}
