.portlet-bin-collection-day-finder {

    h2 {
        display: block !important;
        margin-bottom: 30px;
    }

    button {

        padding-right: 25px !important;

        &::after {
            content: none !important;
        }
    }
}