$theme-nearly-black: #191919;
$theme-dark-grey: #333333;
$theme-mid-grey: #676973;
$theme-light-grey: #F6F6F6;
$theme-teal: #066E6B;
$theme-dark-teal: #043D3B;
$theme-alpha-teal: rgba(6,110,107,.8);
$theme-purple: #993399;
$theme-dark-purple: #7D006B;
$theme-violet: #4C2C92;
$theme-orange: #FF9900;
$theme-white: #FFFFFF;
$theme-blue: var(--primary-clr);
$theme-dark-blue: #0B44A0;
$theme-alpha-blue: var(--hero-panel-bg);

$theme-error: #EA0100;

$theme-primary-color: var(--primary-clr);
$theme-primary-dark-color: $theme-dark-blue;
$theme-primary-alpha-color: $theme-alpha-blue;

$theme-brand-primary: $theme-primary-color;

// CTA button colours
$theme-cta-default-bg: $theme-white;
$theme-cta-default-hover-bg: $theme-blue;
$theme-cta-default-sel-bg: $theme-blue;
$theme-cta-default-color: $theme-blue;
$theme-cta-default-hover-color: $theme-white;
$theme-cta-default-sel-color: $theme-white;

$theme-cta-primary-bg: $theme-purple;
$theme-cta-primary-hover-bg: $theme-dark-purple;
$theme-cta-primary-sel-bg: #630056;
$theme-cta-primary-color: $theme-white;
$theme-cta-primary-hover-color: $theme-white;
$theme-cta-primary-sel-color: $theme-white;
$theme-cta-primary-icon-color: $theme-white;

// Link color
$theme-link-color: $theme-blue;
$theme-link-visited-color: $theme-violet;
$theme-link-hover-color: $theme-dark-blue;
$theme-link-sel-color: $theme-nearly-black;
$theme-link-sel-bg: $theme-orange;

// Header colours
$hero-panel-bg: $theme-primary-alpha-color;
$hero-panel-outer-bg: $theme-light-grey;
$hero-panel-btn-featured-bg: $theme-cta-default-bg;
$hero-panel-btn-featured-color: $theme-cta-default-color;
$hero-panel-btn-featured-border-color: $theme-cta-default-color;
$hero-panel-btn-featured-hover-bg: $theme-cta-default-hover-bg;
$hero-panel-btn-featured-hover-color: $theme-cta-default-hover-color;
$hero-panel-btn-featured-hover-border-color: $theme-cta-default-hover-bg;

// Lambeth colors
// $theme-primary-color: $theme-teal;
// $theme-primary-dark-color: $theme-dark-teal;
// $theme-primary-alpha-color: $theme-alpha-teal;

// CTA button colours
// $theme-cta-default-bg: $theme-white;
// $theme-cta-default-hover-bg: $theme-teal;
// $theme-cta-default-sel-bg: $theme-dark-teal;
// $theme-cta-default-color: $theme-teal;
// $theme-cta-default-hover-color: $theme-white;
// $theme-cta-default-sel-color: $theme-white;

// $theme-cta-primary-bg: $theme-purple;
// $theme-cta-primary-hover-bg: $theme-dark-purple;
// $theme-cta-primary-sel-bg: #630056;
// $theme-cta-primary-color: $theme-white;
// $theme-cta-primary-hover-color: $theme-white;
// $theme-cta-primary-sel-color: $theme-white;
// $theme-cta-primary-icon-color: $theme-white;

// // Link color
// $theme-link-color: $theme-teal;
// $theme-link-visited-color: $theme-violet;
// $theme-link-hover-color: $theme-dark-teal;
// $theme-link-sel-color: $theme-nearly-black;
// $theme-link-sel-bg: $theme-orange;
