#content {

	padding-bottom: 60px;

	table, .table {

		border-collapse: collapse;
		border-color: transparent;
		font-size: 1.1875rem;

		th, td {
			color: $theme-dark-grey;
			border-color: transparent;
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-right: 1rem;
			text-align: left;
		}

		tr:not(:last-child) {
			border-bottom: 2px solid $theme-light-grey;
		}

		thead tr {
			border-bottom: 2px solid $theme-primary-color;
		}

	}

	ul:not(.list-unstyled):not(.related-assets-entries):not(.list-group):not(.tbar-nav):not(.nav):not(.pagination__list):not(.pagination):not(.unstyled) {
		list-style: none;

		li::before {
			content: "\2022";
			color: $theme-primary-color;
			font-weight: bold;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
	}

	.lfr-tags-selector-content .textboxlistentry-holder li {
		margin: 0 10px 10px 0;
	}

	hr {
		border-top: 2px solid $theme-light-grey;
		margin: 1.5rem 0;
	}

	.govuk-phase-banner {
		padding-top: 24px;
		padding-bottom: 24px;
		border-bottom: 2px solid $theme-light-grey;
	}

	.table-responsive::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba(0, 0, 0, .5);
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
	}

	.table-responsive::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
}
