.cookie-consent {

	background-color: $theme-light-grey;

	.portlet {
		margin-bottom: 0;
		
		.portlet-content {
			border: 0;
		}
	}

	.cookie-consent-main {
		color: $theme-dark-grey;
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		text-align: left;

		.cookie-consent-body {
			max-width: 100%;
			padding: 5px 0px 5px 0px;
		}

		.button-holder .btn-cookie-consent {
			border-radius: 0;
			margin-right: 20px;
			padding-right: 25px;

			&::after {
				content: none;
			}

			&[data-cookie-consent="false"] {
				display: none;
			}
		}
	}
}
