#footer {

	.footer-content-navigation .footer-nav-social .follow-title {
		color: $theme-white;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		margin-bottom: 5px;

		a {
			color: $theme-white;
		}
	}

	.footer-site-title span.title {
		display: none;
	}

	.footer-content-navigation {
		color: $theme-white;
		
		a {
			color: $theme-white;
			text-decoration: underline;
		}

		.footer-logo {

			@include media-breakpoint-down(sm) {
				margin-top: 15px;
			}

			img {
				max-height: 60px;
			}
		}
	}

	.footer-rights {
		font-size: 1rem;
		bottom: 0px;
		left: initial;
		right: 0;
		position: absolute;

		@include media-breakpoint-down(sm) {
			margin-top: 1rem;
			position: initial;
		}
	}

	.back-to-top.visually-hidden {
		height: 26px;
		left: 0;
		list-style:	none;
		max-width: 960px;
    	margin-left: auto;
		margin-right: auto;
		padding-left: 12px;
		position: relative;
		width: auto;

		a {
			color: $theme-white;
			font-size: 1rem;
		}
	}

}
