form, .portlet-forms {

		.form-control {
			box-shadow: none;
			border-color: $theme-dark-grey;
			height: 3rem;
			font-size: 1.1875rem;
		}

		textarea.form-control {
			height: 7rem;
		}

		.textarea.form-control {
			height: auto;
		}

		.help-block, .form-feedback-group .help-block {
			font-size: 1.1875rem;
			font-weight: bold;
		}

		.form-group.has-error {
			border-left: 5px solid $theme-error;
			padding-left: 15px;

			.form-control {
				border: 4px solid $theme-error;
			}

			label, p.ddm-label, .custom-control-label, legend.lfr-ddm-legend {
				color: $theme-dark-grey;
			}

			.form-text {
				color: $theme-mid-grey;
			}

		}

		legend.lfr-ddm-legend {
			margin-bottom: .5rem;
		}
}
