.section-featured {
	img {
		border-top: 4px solid $theme-primary-color;
	}
}

.category-nav-links-widget ul li {

	a {
		text-decoration: underline;
	}

	&::before {
		color: $theme-dark-grey;
		content: '' !important;
		display: block !important;
	}
}

.featured-content {

	margin-top: 2rem;

	.outer {
		background-color: $theme-light-grey;
		border-bottom: none;
	}

	&.featured-content-hero-banner {

		margin-top: 0px;

		@include media-breakpoint-down(sm) {
			padding-bottom: 150px;
		}

		.hero-image .hero-panel {
			background: $hero-panel-bg;

			.outer {
				background-color: $hero-panel-outer-bg;
				border-bottom: none;
			}

			h1 {
				font-family: 'Open Sans', sans-serif;
				color: $theme-white;
			}

			.featured-link-wrapper {
				height: 100%;
				padding: 1rem 0;
			}
			
			.btn-featured, .btn-featured:visited {
				color: $hero-panel-btn-featured-color;
				background-color: $hero-panel-btn-featured-bg;
				border-color: $hero-panel-btn-featured-border-color;
				font-weight: normal;
				padding-top: .75rem;
				padding-bottom: .75rem;
				padding-right: 1rem;
				margin: 0;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
			}

			.btn-featured:hover, .btn-featured:focus, .btn-featured:active, .btn-featured:not([disabled]):not(.disabled):active {
				color: $hero-panel-btn-featured-hover-color;
				background-color: $hero-panel-btn-featured-hover-bg;
				border-color: $hero-panel-btn-featured-hover-border-color;
				font-weight: normal;
			}

			.btn-featured::after {
				content: none;
			}

		}

	}

}

.page-header {

	a, a:hover, ol.breadcrumb li.breadcrumb-item {
		color: $theme-link-color;
	}

	ol.breadcrumb {
		margin-bottom: 0.75rem;
	}

}

.related-content-list-widget {
	padding-top: 20px;
	background-color: $theme-light-grey;

	h2 {
		font-size: 1.5rem;
	}

	ul li.related-asset-entry a {
		text-decoration: underline;
	}
}

.guide_navigation {
	background-color: $theme-light-grey;
}

.guide_content {
	.pagination a {
		text-decoration: none;
	}
}

.component-card {

	margin-top: 2.5rem;

	h3 a {
		text-decoration: none;
	}

	h3 {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.card {
		border-bottom: 4px solid $theme-primary-color;
	}

}

.feature-hero {
	margin-bottom: 2.5rem;
}
