header#dp-header {
	background-color: $theme-blue;
	border-bottom: none;

	.site-title span.title {
		color: $theme-white;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
	}

	#header-translate {
		background-color: $theme-light-grey;
		height: 72px;

		.goog-te-gadget {
			font-family: 'Open Sans', sans-serif;

			.goog-te-combo {
				margin: 0px;
				height: 40px;
				border: 2px solid $theme-dark-grey;
				font-size: 1.1875rem;
				font-family: 'Open Sans', sans-serif;
				@media only screen and (max-width: 575px) {
					font-size: 1rem;
				}
			}
		}
	}

	#header-nav {

		height: 60px;
		background-color: $theme-dark-grey;
		border-top: none;

		.site-logo {
			img {
				max-height: 50px;
			}
		}

		.header-content {
			display: flex;
			height: 60px;
		}

		#navbar_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet {
			@include media-breakpoint-up(sm) {
				display: flex;
			}
		}

		.navbar-toggler {
			@include media-breakpoint-up(sm) {
				display: none;
			}

			height: 50px;
			color: $theme-white;
    		margin-left: auto;
		    align-self: center;

		    .button-part {
		    	display: inline-block;
		    	vertical-align: middle;

		    	&.button-label {
		    		margin-left: 6px;
		    	}

		    	&.burguer {
		    		width: 24px;
		    		line-height: 0.2rem;
		    		padding-bottom: 0.4rem;

		    		.icon-bar {
		    			width: 24px;
		    			height: 1px;
		    			display: inline-block;
		    			background-color: $theme-white;
		    		}
		    	}
		    }

		    &[aria-expanded="false"] {
		    	.cross-button {
		    		display: none;
		    	}
		    }

		    &[aria-expanded="true"] {
		    	.burguer {
		    		display: none;
		    	}
		    }

    	}

    	.navbar-collapse {
    		z-index: 300;

   			.login-row {
   				background-color: $theme-light-grey;
   				flex: 0 0 100%;
   				padding: 10px 20px;
   				border-bottom: 1px solid $theme-nearly-black;

   				a {
   					color: $theme-nearly-black;
   					font-size: 1rem;
   				}
   			}

    		@include media-breakpoint-down(xs) {
    			flex-wrap: wrap;
    			width: 100%;
	    		position: absolute;
	    		top: 60px;
	    		margin-left: -12px;

	    		&.show {
    				display: flex;
    			}
			}

    		@include media-breakpoint-up(sm) {
    			display: flex;
    			align-items: flex-end;

    			.login-row {
    				display: none;
    			}
			}
    	}

		.portlet-navigation, .navigation-wrapper {
			@include media-breakpoint-up(lg) {
				position: relative;
			}

			@include media-breakpoint-down(md) {
				position: relative;
			}

			@include media-breakpoint-down(xs) {
				flex: 0 0 100%;
			}

			.portlet {
				margin-bottom: 0px;
			}
		}

		.row {
			margin-bottom: -5px;
	    	margin-top: -5px;
		}

		a, a:hover {
			text-decoration: none;
		}

		.dropdown-menu-wrapper {
			position: absolute;
			background-color: $theme-light-grey;

			@include media-breakpoint-up(sm) {
				top: 35px;
			}
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			box-shadow: none;
			overflow: hidden;

			&.navbar-nav {
				flex-wrap: wrap;
			}

			@include media-breakpoint-up(xs) {
				width: 100%;

			}
			@include media-breakpoint-up(sm) {

				&.navbar-nav {
					height: 35px;
				}
			}
			li {
				line-height: 27px;
				float: left;
				border-top: 5px solid transparent;
	    		border-bottom: 5px solid transparent;
	    		padding-bottom: 0;
	    		margin-bottom: 0;
	    		position: static;

	    		@include media-breakpoint-down(xs) {
	    			background-color: $theme-light-grey;
	    			border-top: 3px solid transparent;
	    			border-bottom: 3px solid transparent;
	    			width: 100%;

	    			&.nav-item.dropdown::after {
						display: inline-flex;
    					content: '\e613';
    					font-family: 'brunel';
    					font-weight: bold;
    					font-size: 0.8rem;
    					margin-left: 25px;
    				}

    				a {
    					display: inline-flex;
    				}
				}

				a {
					color: $theme-white;
					font-family: 'Open Sans', sans-serif;
					font-size: 1rem;
					line-height: 20px;
			    	font-weight: bold;
			    	padding: 0px 20px;
			    	margin: 0;
			    	text-align: center;
			    	border-right: 1px solid #828282;
			    	@include media-breakpoint-down(md) {
						font-size: 0.7rem;
						padding: 0px 12px;
					}
			    	.lfr-nav-child-toggle {
			    		font-size: 0.6rem;
	    				padding-left: 5px;
			    	}

			    	@include media-breakpoint-down(xs) {
						font-size: 1rem;
				    	background-color: $theme-light-grey;
				    	color: $theme-nearly-black;
				    	border-right: none;
				    	text-align: left;
				    	margin: 0;
				    	padding: 10px 20px;
				    	width: 100%;

				    	.lfr-nav-child-toggle {
				    		display: none;
				    	}
					}

				}

				&:first-child a {
					padding-left: 0;
				}

				&.dropdown a {
					@include media-breakpoint-down(xs) {
						padding: 0;
						margin: 10px 20px;
						width: fit-content;
					}
				}

				&.back-button {
					font-size: 1rem;
    				font-weight: bold;
    				border-top: 1px solid transparent;
    				border-bottom: 1px solid $theme-nearly-black;

					@include media-breakpoint-down(xs) {
				    	padding: 16px 12px;
				    	margin: 0;

				    	&:before {
					    	content: '\e616';
						    font-family: 'brunel';
						    font-weight: bold;
						    padding-right: 6px;
						    font-size: 0.8rem;
						}
					}

					@include media-breakpoint-up(sm) {
						display: none;
					}
				}
			}

			li:hover {
				background-color: $theme-grey1a;

				ul.child-menu.dropdown-menu {
					@include media-breakpoint-up(sm) {
						display: flex;
					}

					@include media-breakpoint-down(sm) {
						display: block;
					}
				}
			}

			li.active {
				background-color: transparent;
				padding-bottom: 0;

				&:hover {
					background-color: $theme-grey1a;

					@include media-breakpoint-down(sm) {
						background-color: $theme-light-grey;
	    			}
				}

				& > a {
					color: $theme-white;
					cursor: pointer;
				}

				@include media-breakpoint-down(xs) {
	    			border-top: 3px solid transparent;
	    			border-bottom: 3px solid transparent;
	    			background-color: $theme-light-grey;

	    			& > a {
						color: $theme-grey1;
						font-weight: bold;
					}
				}
			}

			&.dropdown-menu.child-menu {
				background-color: $theme-light-grey;

				@include media-breakpoint-down(sm) {
					max-width: 100%;
					width: 100%;
					border: none;
    				border-radius: 0;
    				overflow: visible;

    				li {
    					width: 100%;
					}
				}

				@include media-breakpoint-up(sm) {
					position: static;
					flex-direction: column;
					flex-wrap: wrap;
					max-width: 100%;
					border: none;
					--gap: 2px;
					margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
					width: calc(100% + var(--gap));
					margin-top: 0;
    			}

				li {
					background-color: $theme-light-grey;
					color: $theme-nearly-black;
					border: none;

					@include media-breakpoint-up(sm) {
						max-width: 30%;
						margin: var(--gap) 0 0 var(--gap);

						&.col-50 {
							max-width: 50%;
						}
					}

					&.active {
						border-bottom: none;

						& > a {
							color: $theme-grey1;
							font-weight: bold;
						}
					}

					a {
						background-color: $theme-light-grey;
						color: $theme-nearly-black;
						text-align: left;
						margin: 0;
						padding-left: 1rem;
						padding-top: 10px;
						padding-bottom: 10px;
						border-right: none;

						@include media-breakpoint-down(sm) {
					    	margin: 0;
					    	padding: 10px 25px;
					    	width: 100%;
						}
					}

					&:hover a {
						color: $theme-white;

						&.active, &:hover {
							background-color: $theme-grey1a;
						}
					}
				}
			}

			li.dropdown ul.child-menu.dropdown-menu {
				display: none;
			}

			li.dropdown.open ul.child-menu.dropdown-menu {

				@include media-breakpoint-down(sm) {
					display: block;
				}

				@include media-breakpoint-up(sm) {
				    display: inline-flex;
				}

			}
		}

		.portlet-content-editable {
	   		border-width: 0px;
		}

	}

	.account-links > a {
		border-radius: 3px;
		color: $theme-white;
		padding: 5px;

		&:last-child {
			padding-right: 0;
		}

		&:hover {
			background-color: $theme-dark-purple;
		}
	}

	.account-links {

		@include media-breakpoint-up(sm) {
			margin-left: auto;
			flex: none;
		}

		@include media-breakpoint-down(sm) {
			display: none;
		}

		a:hover, .portlet-user-personal-bar:hover {
			background-color: $theme-grey1a;
		}

		.log-in-link {
			font-weight: bold;

			@include media-breakpoint-up(sm) {
				align-self: flex-end;
				padding: 8px 5px;
			}
		}

		span.panel-notifications-count {
			padding-left: 0;
		}

		.portlet-user-personal-bar {
			align-self: center;
			margin-left: 10px;
			margin-bottom: 0.5rem;
		}
	}

	#header-top {
		padding-top: 20px;
		padding-bottom: 20px;

		.site-logo {
			img {
				max-height: 80px;
			}
		}

		.title-search-container {
			align-items: center;
		}

		#breadcrumbs {
			.portlet-breadcrumb .portlet {
				margin-bottom: 0px;
			}

			.breadcrumb {
				padding: 0.5rem .125rem;
				padding-bottom: 0px;
				margin-bottom: 0px;
			}

			.breadcrumb-item {
				color: $theme-white;
				font-size: 1rem;
				padding-left: 1.5em;

				a.breadcrumb-link {
					font-size: 1rem;

					&, &:visited {
						color: $theme-light-grey;
					}
				}

				&:first-child {
					padding-left: 0;
				}
			}

			.breadcrumb-item + .breadcrumb-item::before {
				background-image: none;
				margin-top: 0;
				top: 0;
				color: $theme-white;
				content: "\e613";
    			font-family: 'brunel';
			}
		}

		.site-title {
			color: #FFFFFF;
    		font-family: 'Open Sans', sans-serif;
    		font-weight: bold;

			padding-top: 20px;
			padding-bottom: 20px;

			span.title {
				font-size: 3rem;
			}

			span.title-page {
				font-size: 1.5rem;
			}
		}

		.portlet-search-bar {
			margin-top: 10px;

			.search-bar-suggestions {
				@include media-breakpoint-up(sm) {
					margin-left: auto;
					width: 100%;
				}
			}
		}
	}

}
