// Links
a, .related-content-list-widget li.related-asset-entry a, .related-content-list-widget li.related-asset-entry a:visited {
	color: $theme-link-color;
	text-decoration: underline;
	&:visited {
		color: $theme-link-visited-color;
	}
	&:hover {
		color: $theme-link-hover-color;
	}
	&:active, &:focus {
		color: $theme-link-sel-color;
		background-color: $theme-link-sel-bg;
	}
}

// Search button
.portlet-search-bar .search-bar-suggestions .input-group-inset-item .btn {
	background-color: $theme-cta-primary-bg;
	text-decoration: none;
	font-weight: normal;
}
