.portlet-search-bar {

	.search-bar-suggestions {
		@media only screen and (min-width: 576px) {
			width: 400px;
		}

		border: 2px solid $theme-dark-grey;

		.search-bar-keywords-input {
			height: 40px;
			margin-right: 0px;
			box-shadow: none;
			background-color: $theme-white;
		}

		.input-group-inset-item {
			.lexicon-icon-search {
				margin-right: 0px;
			}

			.btn {
				padding: 7px 12px 6px;
				border-radius: 0px;

				&::after {
					content: '';
				}
			}
		}

	}

}

.panel {
	border-color: $theme-grey8;
	
	.panel-title {
		font-size: 19px;
		font-weight: 700;
		line-height: 28px;
	}
	
	.collapse-icon-closed, .collapse-icon-open {
		font-size: 19px;
		font-weight: 700;
		line-height: 26px;
	}
	
	.custom-control {
		margin-bottom: 0.5rem;
		min-height: 1.5625rem;
	}
	
	.custom-control-label {
		line-height: 25px;
	}
	
	.term-count {
		line-height: 22.8px;
	}
}

.display-list, .list-group-item {
	border: none;

	.list-group-title {
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
	}
	
	.list-group-subtext, .h6, .h6 a {
		font-size: 14px !important;
		font-weight: 400;
		line-height: 21px;
	}
}