a, p {
	font-family: 'Open Sans', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: $theme-dark-grey;
	a {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		color: $theme-link-color;
	}
}

h1, .h1 {
	font-size: 3rem;
	line-height: 4.0625rem;
	margin: 0.75rem 0;
	@media only screen and (max-width: 768px) {
		font-size: 2.625rem;
		line-height: 3.555rem;
	}
}

h2, .h2 {
	font-size: 2.25rem;
	line-height: 3.0625rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	@media only screen and (max-width: 768px) {
		font-size: 2rem;
		line-height: 2.72rem;
	}
}

h3, .h3 {
	font-size: 1.5rem;
	line-height: 2.0625rem;
	margin: 0.5rem 0;
}

h4, .h4 {
	font-size: 1.1875rem;
	line-height: 1.625rem;
}

.lead {
	font-size: 1.5rem;
	margin-top: 0.75rem;
}

p+h2 {
	margin-top: 3rem;
}
