.portlet-announcements-banner {
	display: none;

	.portlet {
		margin-bottom: 0;
	}
	
	.alert-announcement-entry .row {
		padding: 1rem;
		margin: 0;
		
		@include media-breakpoint-down(md) {
			padding: 0.5rem;
		}

		.entry-content {
			max-width: 80%;
			
			@include media-breakpoint-down(md) {
				max-width: 100%;
			}
		}
		
		.entry-icon {
			text-align: center;
		}
		
		.alert-indicator {
			display: inline-block;
			font-size: 2rem;
			line-height: 3.0625rem;
			margin-top: 1rem;
			margin-bottom: 0.5rem;
		}
		
		button.close.announcement-dismiss-button {
			font-size: 1.2rem;
			color: $theme-black;
			text-align: center;
			width: 100%;
			position: relative;
    		right: 0;
    		top: 0;
    		
    		&:hover, &:active, &:focus {
    			font-size: 1.35rem;
    			color: $theme-grey1a;
    		}
		}
	}
}
