ol.breadcrumb {
	margin-bottom: 0;
	padding: 0;

	li.breadcrumb-item {

		font-size: inherit;
		color: $theme-link-color;

		a.breadcrumb-link {

			.breadcrumb-text-truncate {
				font-weight: normal;
				text-decoration-line: underline;
			}

			&, &:visited, &:hover {
				color: unset;
			}
		}

		.breadcrumb-text-truncate {
			max-width: none;
		}
	}

	.breadcrumb-item + .breadcrumb-item {
		padding-left: 1.5rem;
		font-size: 1.1875rem;

		.active {
			color: $theme-link-color;
			font-weight: inherit;
			text-decoration-line: none;
		}

		&::before {
			background-image: none;
			font-family: 'brunel';
			content: "\e613";
			color: $theme-grey4;
			top: 0;
			margin-top: 0px;
		}

	}

}