.portlet-ddl-display {
	.form .entry-content {
		&.entry-categories, &.entry-tags {
			.form-control.form-control-tag-group {
				height: auto;
			}
			
			.btn.btn-secondary {
				margin: 0;
			}
		}	
	}
}