// Liferay forms
.portlet-forms, .portlet-forms-display, .form{

	.col-ddm {
		padding-left: 0px;
		padding-right: 24px;
	}

	.container-fluid-max-xl, .col-md-12 {
		padding-left: 0px;
		padding-right: 0px;
		max-width: 1200px;
	}

	.lfr-ddm__default-page-header {
		display: none;
	}

	.multi-step-indicator-label {
		display: none;
	}

	.multi-step-nav {
		margin-bottom: 0px;
	}

	.multi-step-item.active .multi-step-icon, .ddm-user-view-content .multi-step-item.active .multi-step-divider {
		background-color: $theme-grey1;
	}

	.ddm-form-pagination,
	.ddm-pagination {
		display: none;
	}

	h2.lfr-ddm-form-page-title {
		color: $theme-grey1;
		font-size: 3rem;
		line-height: 3.6rem;
		margin-bottom: 2rem;
		padding-left: 0px;
	}

	h3.lfr-ddm-form-page-description {
		font-size: 1.25rem;
		color: $theme-grey2;
		padding-left: 0px;
	}

	.ddm-form-builder-app .lfr-ddm-form-page>.row {
		margin-left: 0px;
	}

	.lfr-ddm-form-page {

		padding-top: 15px;
		padding-bottom: 0px;

		> .text-secondary {
			display: none;
		}

		.ddm-field-container {
			padding: 0;

			.liferay-ddm-form-field-file {
				.lfr-dynamic-uploader {
					width: 100%;
				}
				button {
					margin-top: 0;
					height: auto;
					width: auto;
					line-height: 27px;
					
					.lexicon-icon {
						margin-bottom: 4px;
					}
				}
			}
		}

		.form-group {
			margin-bottom: 2.5rem;
			&.has-error .ddm-label.optional::after {
				content: "";
			}
			.container {
				padding-left: 0px;
				padding-right: 0px;
			}
		}

		.liferay-ddm-form-field-paragraph {
			font-size: 1.25rem;
			line-height: 1.5rem;
			color: $theme-grey1;
			margin-bottom: 0;
		}

		.sub-label {
			display: none;
		}

		.liferay-ddm-form-field-address .form-group {
			margin-right: 10px;
		}

		.liferay-ddm-form-field-document-library, .ddm-field .input-group-item {
			.btn.btn-secondary {
				margin: 0;
				padding: 10px 21.5px 11px;
			}
		}

	}

	.lfr-ddm-form-pagination-controls {
		padding-top: 0px;
	}

	.form-feedback-group .form-feedback-item {
		font-size: 1rem;
		font-weight: bold;
		color: $theme-error;

		span.form-feedback-indicator {
			display: none;
		}
	}

	.ddm-form-success-page {

		h1.ddm-form-name  {
			font-size: 2rem;
			color: $theme-black;
		}

		p.ddm-form-description {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.25rem;
			color: $theme-black;
			display: block;
		}

	}

	.ddm-label, .lfr-ddm-legend {

		&.optional::after {
			content: " (optional)";
		}

		&.required::after {
			content: "";
		}

		.reference-mark {
			margin: 0;
			svg {
				display: none;
			}
		}
	}

	// success page
	.lfr-ddm__default-page {
		margin-top: 0;

		.lfr-ddm__default-page-container {
			color: $theme-white;
			background: $theme-form-success-bg;
			text-align: center;
			margin-bottom: 30px;
			border-radius: 0;
		}
		.lfr-ddm__default-page-title {
			font-size: 3rem;
			line-height: 1.04167;
			margin-bottom: 30px;
			color: $theme-white;
		}
		.lfr-ddm__default-page-description {
			font-size: 2.25rem;
			line-height: 1.11111;
		}
		.lfr-ddm__default-page-buttons{
			display: none;
		}
	}

}

// All forms
form {

	label, p.ddm-label, .custom-control-label, legend.lfr-ddm-legend {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.1875rem;
		font-weight: bold;
		color: $theme-grey1;
	}

	.custom-control-label {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.1875rem;
		font-weight: normal;
	}

	.form-text, .form-feedback-group {
		font-size: 1rem;
		font-weight: 600;
		color: $theme-grey2;
	}

	.form-group.has-error {
		label, p.ddm-label, .custom-control-label, .form-text, .lfr-ddm-legend {
			color: $theme-error !important;
		}
	}

	.form-control {
		border-width: 2px;
		border-color: #ccc;
		border-radius: 0;
		background-color: $theme-white;
		box-shadow: inset #eaeaea 0 2px 0 0;
	}

	.postcode-lookup label.control-label, .lfr-ddm-legend {

		.reference-mark {
			svg {
				display: none;
			}
		}
	}

	.liferay-ddm-form-field-address {
		.btn-address-lookup, .btn-address-lookup:active {
			margin-top: 1px !important;
		}
	}

	.lfr-ddm-form-pagination-controls{
		button.lfr-ddm-form-pagination-next, #ddm-form-submit {
			float: right !important;
		}
	}

}
