.news-widget {

	.carousel {

		.news-carousel-slide {

			.slide-image{

				@include media-breakpoint-up(md) {
					padding-right: 1.5rem;
				}

				.news-image {
					width: 100%;
					height: 100%;
					max-height: 470px;
				}
			}

			.slide-content {
				background-color: $theme-white;
				box-shadow: none;
				padding: 2rem;

				.news-header, .news-title {
					margin-bottom: 1rem;
				}

				.news-link {
					margin-top: 1rem;
				}
			}
		}

		ol.carousel-indicators {
			position: relative;
			margin-top: 1rem;

			li {
				background-color: transparent;
				border: 2px solid $theme-grey1;
				border-radius: 50%;
				height: 10px;
				width: 10px;

				&.active {
					background-color: $theme-grey1;
					opacity: 1;
				}
			}
		}

		.carousel-control-prev, .carousel-control-next {
			background-color: $theme-grey1;
			border-radius: 50%;
			height: 3rem;
			top: calc(50% - 2.25rem);
			width: 3rem;
			opacity: 1;

			@include media-breakpoint-down(sm) {
				display:none;
			}
		}

		.carousel-control-prev {
			left: -24px;
		}

		.carousel-control-next {
			right: -24px;
		}
	}

}
