.related-content-list-widget {
	padding: 0 1.5rem 6rem 1.5rem;

	.section-title {
		font-size: 1.5rem;
		margin-top: 0px;
		margin-bottom: 1rem;
	}

	ul {

		list-style-type: none;
		margin-left: 0;
		padding-left: 0;

		li.related-asset-entry {
			margin-top: 10px;
			margin-bottom: 10px;

			a {
				text-decoration: none;
			}
		}

	}
}
