.portlet-search-bar {

	.search-bar-keywords-input {
		border: none;
		border-radius: 0;
		margin-right: 20px;
		box-shadow: inset 0 4px 0 0 $theme-grey6;
		height: 44px;
		font-size: 1rem;

		&:focus {
			@include btn-focus;
		}
	}

	.search-bar-suggestions .input-group-inset-item {
		padding: 0;
		border: 0;
		background-color: $theme-grey1;
		border-radius: 3px;

		@include media-breakpoint-up(md) {
			.btn::after {
				content: "Search";
			}

			.lexicon-icon-search {
				margin-right: 15px;
			}
		}

		.btn {
			@include btn-search;
			margin: 0px;
		}

		.btn:focus {
			@include btn-focus;
		}
	}

}

.portlet-search-results {
	li.list-group-item {
		box-shadow: none;
	}
}
