.simple-list {

	list-style: none;

	.glyphicon-circle-arrow-right {

		&:hover {
			color: $theme-grey4;
		}
	}

	.is-active {

		.glyphicon-circle-arrow-right {
			color: $theme-white;
			background: $theme-grey1;
			border-radius: 50%;
			border: 1px solid $theme-grey1;
		}
	}
}
