.content-page {

	&.has-edit-mode-menu {

		#wrapper {

			&.digitalplace-wrapper {

				#footer{
					position: relative;
				}

			}

		}

	}

	.fragments-editor {
		section.portlet {
			min-height: 50px;
		}
	}

}

html:not(#__):not(#___) {
	#content {
		.layout-content.portlet-layout {
			.portlet-boundary {
				.page-editor__layout-viewport {
					background-color: $cadmin-white;
				}
			}
		}
	}
}
