.btn-default, .btn-cancel, .btn-default:visited, .btn-cancel:visited, a.button, a.button:visited {
	@include btn-default-unselected;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:not([disabled]):not(.disabled):active,
.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel:not([disabled]):not(.disabled):active,
.btn-link.btn-default.btn-cancel:hover, .btn-link.btn-default.btn-cancel:focus, .btn-link.btn-default.btn-cancel:active,
a.button:hover, a.button:focus, a.button:active {
	@include btn-default-selected;
}

.btn-primary, .btn-primary:visited {
	&:not(.fragment-entry-link-list__col-resizer) {
		@include btn-primary-unselected;
		@include btn-action-next;

		&.add-row, &.delete-row {
			@include btn-add-delete-row;
		}
	}
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not([disabled]):not(.disabled):active {
	&:not(.fragment-entry-link-list__col-resizer) {
		@include btn-primary-selected;
		@include btn-action-next;

		&.add-row, &.delete-row {
			@include btn-add-delete-row;
		}
	}
}

.btn-primary:not(.add-row, .delete-row)::after {
	@include btn-action-next-after;
}

.btn-primary, .btn-primary:not([disabled]):not(.disabled) {
	&:not(.fragment-entry-link-list__col-resizer) {
		&:hover::after, &:active::after {
			@include btn-action-next-selected-after;
		}
	}
}

.btn-secondary, .btn-secondary:visited {
	@include btn-secondary-unselected;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:not([disabled]):not(.disabled):active {
	@include btn-secondary-selected;
}

// PREVIOUS BUTTONS
.btn-secondary.lfr-ddm-form-pagination-prev, .btn-secondary.lfr-ddm-form-pagination-prev:visited {
	@include btn-primary-unselected;
}

.btn-secondary.lfr-ddm-form-pagination-prev:hover, .btn-secondary.lfr-ddm-form-pagination-prev:focus, .btn-secondary.lfr-ddm-form-pagination-prev:active, .btn-secondary.lfr-ddm-form-pagination-prev:not([disabled]):not(.disabled):active {
	@include btn-primary-selected;
}

.btn.lfr-ddm-form-pagination-prev, .btn.lfr-ddm-form-pagination-prev:visited, .btn.lfr-ddm-form-pagination-prev:hover, .btn.lfr-ddm-form-pagination-prev:focus, .btn.lfr-ddm-form-pagination-prev:active, .btn.lfr-ddm-form-pagination-prev:not([disabled]):not(.disabled):active,
.btn.btn-prev, .btn.btn-prev:visited, .btn.btn-prev:hover, .btn.btn-prev:focus, .btn.btn-prev:active, .btn.btn-prev:not([disabled]):not(.disabled):active,
 {
	@include btn-action-prev;
}

.btn.lfr-ddm-form-pagination-prev::after, .btn.btn-prev::after {
	@include btn-action-prev-after;
}

.btn.lfr-ddm-form-pagination-prev:hover::after, .btn.lfr-ddm-form-pagination-prev:focus::after, .btn.lfr-ddm-form-pagination-prev:active::after, .btn.lfr-ddm-form-pagination-prev:not([disabled]):not(.disabled):active::after,
.btn.btn-prev:hover::after, .btn.btn-prev:focus::after, .btn.btn-prev:active::after, .btn.btn-prev:not([disabled]):not(.disabled):active::after {
	@include btn-action-prev-selected-after;
}

a.prev {
	@include a-prev;
}

a.prev::after {
	@include a-prev-after;
}
// END PREVIOUS BUTTONS

.btn-featured, .btn-featured:visited {
	@include btn-featured-unselected;
	@include btn-action-next;
}

.btn-featured:hover, .btn-featured:focus, .btn-featured:active, .btn-featured:not([disabled]):not(.disabled):active {
	@include btn-featured-selected;
	@include btn-action-next;
}

.btn-featured::after, .btn-featured:hover::after, .btn-featured:focus::after, .btn-featured:active::after, .btn-featured:not([disabled]):not(.disabled):active::after {
	@include btn-action-next-after;
}

.btn:focus, .button:focus, button:focus, input:focus, textarea:focus, a:focus {
	@include btn-focus;
}

.btn-link {
	cursor: pointer;
}

button.fragment-entry-link-list__col-resizer::after {
	display: none;
}

.lfr-ddm-form-field-repeatable-toolbar {
    .ddm-form-field-repeatable-add-button, .ddm-form-field-repeatable-delete-button {
        @include btn-add-delete;
		height: 1.875rem !important;
		width: 1.875rem !important;
		border-radius: 50% !important;
		padding: 0px !important;
		.lexicon-icon {
			padding: 0rem;
			width: 1.875rem;
			height: 1rem;
		}
    }
	.ddm-form-field-repeatable-delete-button {
		right: 0;
	}
	.ddm-form-field-repeatable-add-button {
		right: 0.938rem;
	}
}
