#content {
	flex: 1 0 auto;
}

.visually-hidden {
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}

.alert-warning {
	background-color: $theme-yellow;
	border-color: $theme-yellow;
	color: $theme-black;
}

.alert-danger, .alert-error {
	background-color: $theme-light-red;
	border-color: $theme-light-red;
	color: $theme-error;
	h1, h2, h3, h4 {
		color: $theme-error;
	}
}

.taglib-empty-result-message .taglib-empty-result-message-header {
	display: none;
}

.panel-heading a {
	text-decoration: none;
}

#runtime-portlet-ids-bodytop .portlet-content-editable {
	border: none;
}

.callout {
	border: 1px solid $theme-grey5;
	border-left-width: 5px;
	border-radius: 3px;
	margin: 20px 0;
	padding: 20px;

	h4 {
		margin-bottom: 5px;
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	code {
		border-radius: 3px;
	}
	& + .bs-callout {
		margin-top: -5px;
	}
}

@each $name,$color in (default,$theme-grey1),(primary,$theme-cta-primary-bg),(success,$theme-green),(danger,$theme-error),(warning,$theme-yellow),(info,$theme-cta-featured-bg) {
	.callout-#{$name} {
		border-left-color: $color;
		h4 {
			color: $color;
		}
	}
}
