/**
 * Fonts
 */

@font-face {
  font-family: 'Thesans-Semi-Light';
  src: url('../fonts/thesans/TheSansLP-SemiLight.eot');
  src: url('../fonts/thesans/TheSansLP-SemiLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/thesans/TheSansLP-SemiLight.woff') format('woff'), /* Modern Browsers */
    url('../fonts/thesans/TheSansLP-SemiLight.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/thesans/TheSansLP-SemiLight.svg#Thesans-Semi-Light') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thesans-Plain';
  src: url('../fonts/thesans/thesans-lp5plain-webfont-webfont.eot');
  src: url('../fonts/thesans/thesans-lp5plain-webfont-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/thesans/thesans-lp5plain-webfont-webfont.woff') format('woff'), /* Modern Browsers */
		url('../fonts/thesans/thesans-lp5plain-webfont-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/thesans/thesans-lp5plain-webfont-webfont.svg#Thesans-Plain') format('svg'); /* Legacy iOS */
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thesans-Semi-Bold';
  src: url('../fonts/thesans/TheSans-B6SemiBold.eot');
  src: url('../fonts/thesans/TheSans-B6SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/thesans/TheSans-B6SemiBold.woff') format('woff'), /* Modern Browsers */
		url('../fonts/thesans/TheSans-B6SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/thesans/TheSans-B6SemiBold.svg#Thesans-Semi-Bold') format('svg'); /* Legacy iOS */
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thesans-Bold';
  src: url('../fonts/thesans/TheSans_LP_700_Bold.eot');
  src: url('../fonts/thesans/TheSans_LP_700_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/thesans/TheSans_LP_700_Bold.woff') format('woff'), /* Modern Browsers */
		url('../fonts/thesans/TheSans_LP_700_Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/thesans/TheSans_LP_700_Bold.svg#Thesans-Bold') format('svg'); /* Legacy iOS */
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Thesans-Semi-Light-Select';
  src: url('../fonts/thesans/TheSansLP-SemiLight.eot');
  src: url('../fonts/thesans/TheSansLP-SemiLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/thesans/TheSansLP-SemiLight.woff') format('woff'), /* Modern Browsers */
		url('../fonts/thesans/TheSansLP-SemiLight.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/thesans/TheSansLP-SemiLight.svg#Thesans-Semi-Light-Select') format('svg'); /* Legacy iOS */
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'brunel';
  src: url('../fonts/icomoon/bcc.eot?ocupuc');
  src: url('../fonts/icomoon/bcc.eot?#iefixocupuc') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/icomoon/bcc.woff?ocupuc') format('woff'), /* Modern Browsers */
		url('../fonts/icomoon/bcc.ttf?ocupuc')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/icomoon/bcc.svg?ocupuc#bcc') format('svg'); /* Legacy iOS */
	font-weight: normal;
  font-style: normal;
}
