#footer {
	bottom: 0;
	width: 100%;
	
	.background-wrapper {
		background-color: $theme-grey1;
		padding-bottom: 40px;
	}

	.back-to-top {
		a {
			color: $theme-white;
		}
	}

	.footer-feedback {

		.success-background {
			background-color: $theme-green;
		}

		.container-panel {
			border-radius: 10px 10px 0 0;
			color: $theme-white;
			border: 1px solid transparent;

			.text-section {
				padding-left: 1.5em;
				padding-top: 0.5em;

				.success {
					padding-top: 0.5em;
				}

				.title {
					font-weight: bold;
					font-size: larger;

					.icon-comment {
						content: '\f075';
						padding-left: 0.5em;
						font-size: larger;
					}
				}
				
				p {
					padding-top: 0.5em;
				}
			}

			.show-hide-button {
				padding: 1em;
				text-align: center;

				a {
					color: $theme-white;
				}

				a:active, a:focus {
					background-color: unset;
					box-shadow: none !important;
				}
				
			}

			.form-background {
				background-color: $theme-white;
				padding: 1em;
			}

			.portlet-forms h1.ddm-form-name {
				display: none;
			}
		}


		a.button {
			margin-bottom: 0px;
		}
	}

	.footer-content-navigation {

		color: $theme-white;
		border-top: 0px;

		a {
			color: $theme-white;
			font-size: 1rem;
			text-decoration: none;
		}

		.footer-logo {
			margin-top: 50px;
			img {
				max-height: 50px;
				margin-right: 20px;
			}
			a.logo {
				float: left;
			}
		}

		.footer-site-title {
			float: left;
			padding-top: 5px;
			span.title {
				font-family: "Thesans-Bold","Helvetica Neue",Arial,sans-serif;
				font-size: 1.5rem;
			}
		}

		.footer-nav-social {
			margin-top: 26px;

			@include media-breakpoint-up(sm) {
				float: right;
			}

			.follow-title {
				font-family: "Thesans-Bold","Helvetica Neue",Arial,sans-serif;
				font-size: 1.1875rem;
			}

			ul {
				list-style: none;
				padding: 0;
				
				@include media-breakpoint-down(sm) {
					margin-bottom: 0px;
				}
			}
			
			span {
				position: relative;
				font-size: 24px;
			}
			
			a {
				display: block;
				padding-bottom: 1em;
				padding-left: 2.25em;
				margin-top: -1.5em;
				text-decoration: none;
			}
		}

		.footer-nav-secondary {
			clear: both;
			padding-top: 26px;

			ul {
				list-style: none;
				padding: 0;
				width: 100%;

				@include media-breakpoint-down(sm) {
					display: inline-block;
					margin-bottom: 0px;
				}

				li.nav-item{

					 a {
						padding: 0;

						span {
							padding: 0 1rem;
						}
					}

					&:first-child a span {
						padding-left: 0px;
					}

					&:not(:last-child) a span {
						border-right: 1px solid $theme-grey2;

						@include media-breakpoint-down(sm) {
							border: none;
						}
					}
				}

			}
		}

		.portlet-navigation {
			.alert, .portlet-topper {
				display: none;
			}
		}

	}
}
