header#dp-header {

	background-color: $theme-grey1;
	border-bottom: 5px solid $theme-brand-primary;
	width: 100%;
	z-index: 499;

	.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		padding-left: 0px;
		padding-right: 0px;
	}

	#header-translate {
		background-color: $theme-whitesmoke;
		height: 60px;

		#google_translate_element {
			padding: 16px 0px;
			float: right;
		}
		.goog-te-gadget {
			font-family: "Thesans-Semi-Light","Helvetica Neue",Helvetica,sans-serif;
			font-size: 1rem;
		}
	}

	#header-top {
		padding-top: 5px;
	}

	#header-nav {
		height: 69px;
    	border-top: 5px solid $theme-grey1a;
	}

	.site-logo {
		float: left;
		display: flex;
    	align-items: center;
		margin-right: 1rem;
		
		@include media-breakpoint-down(sm) {
			margin-right: 20px;
		}

		img {
			display: block;
			max-height: 60px;

			@include media-breakpoint-down(sm) {
				max-height: 42px;
			}
		}
	}

	.site-title {
		float: left;
		padding-top: 30px;
		padding-bottom: 30px;

		@include media-breakpoint-down(sm) {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		span.title {
			font-family: "Thesans-Bold","Helvetica Neue",Arial,sans-serif;
			font-size: 1.875rem;
			color: $theme-white;
			@include media-breakpoint-down(sm) {
				font-size: 1.5rem;
			}
		}
	}

	.portlet-search-bar {
		margin-top: 30px;

		@include media-breakpoint-down(sm) {
			margin-top: 10px;
		}
	}

	.account-links {
		display: flex;

		a {
			font-size: 1rem;
			color: $theme-white;
			@include media-breakpoint-down(md) {
				font-size: 0.8rem;
			}
			span {
				padding-left: 5px;
			}
		}

		a:hover {
			color: $theme-grey4;
		}

		.portlet-user-personal-bar {
			float: right;
	    	margin-bottom: 4px;
		}
	}

	span.panel-notifications-count {
		position: absolute;
		top: 5px;
	}

}
