#header-nav {

	.row {
		margin-bottom: -5px;
    	margin-top: -5px;
	}

	a, a:hover {
		text-decoration: none;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		
		li {
			float: left;
			line-height: 28px;
			border-top: 5px solid transparent;
    		border-bottom: 5px solid transparent;
			padding-bottom: 100px;
    		margin-bottom: -100px;

			a {
				color: $theme-white;
				font-family: "Thesans-Semi-Bold","Helvetica Neue",Arial,sans-serif;
				font-size: 1.1875rem;
		    	margin-left: 15px;
		    	margin-right: 15px;
		    	padding: 18px 0;
		    	text-align: center;
				@include media-breakpoint-down(sm) {
					font-size: 1rem;
			    	margin-left: 10px;
			    	margin-right: 10px;
				}
			}
		}

		li:hover {
			background-color: $theme-grey1a;
  			border-bottom: 5px;
		}

		li.active {
			background-color: $theme-white;
	    	border-top: 5px solid $theme-brand-primary;
	    	border-bottom: 5px solid $theme-white;

			a {
				color: $theme-grey1;
			}
		}

	}

	.portlet-content-editable {
    	border-width: 0px;
	}

}
