a, p {
	font-family: "Thesans-Semi-Light","Helvetica Neue",Helvetica,sans-serif;
	font-size: 1.1875rem;
}

h1, .h1, h1 a {
	font-size: 3rem;
	line-height: 1.25;
	margin: 0.75rem 0 2rem 0;
}

h2, .h2, h2 a {
	font-size: 1.875rem;
	line-height: 1.25;
	margin: 1rem 0 1rem;
}

h3, .h3, h3 a {
	font-size: 1.5rem;
	line-height: 1.3;
	margin: 1.5rem 0 1rem;
}

h4, .h4, h4 a {
	font-size: 1.25rem;
	margin: 0.5rem 0 0;
}

h5, .h5, h5 a {
	font-size: 1.1875rem;
	margin: 0.5rem 0 0;
}

/*  Headings
\*----------------------------------------------------------------------------*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	color: $theme-grey1;
	font-family: "Thesans-Bold","Helvetica Neue",Arial,sans-serif;
	font-weight: normal;
	display: block;
	a {
		font-family: "Thesans-Bold","Helvetica Neue",Arial,sans-serif;
		font-weight: normal;
	}
}

h2 + h3, .h2 + h3, h2 + .h3, .h2 + .h3 {
	margin-top: 0;
}

code {
	line-height: 1;
}

pre {
	margin-top: 0;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
}

pre + p {
	margin-top: 1.5rem;
}

a {
	color: $theme-link;
	text-decoration: underline;
	&:hover {
		color: $theme-link-hover;
	}
}

.text-white {
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, a, a:hover {
		color: $theme-white !important;
	}
}

.lead {
	font-size: 1.5625rem;
}
