#wrapper {

	&.digitalplace-wrapper {
		padding-top: 0;
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	@media (min-width: 0px) {
		.container {
			max-width: 1248px;
		}
		.row {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

}

.page-maximized #wrapper #content {
	max-width: 1248px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
