// Brand colours
$theme-brand-primary: #BC0031;

//Main colours
$theme-black: #000000;
$theme-grey1: #2E3136;
$theme-grey1a: #40444b;
$theme-grey2: #676973;
$theme-grey3: #96969A;
$theme-grey4: #CCCCCC;
$theme-grey5: #D8D8D9;
$theme-grey6: #EAEAEA;
$theme-grey7: #F1F1F1;
$theme-grey8: #E7E7ED;
$theme-whitesmoke: #F5F5F5;
$theme-white: #FFFFFF;

$theme-error: #EA0100;
$theme-highlight: #FF9600;
$theme-link: #0B44A0;
$theme-link-hover: #376EC7;

// CTA button colours
$theme-cta-default-bg: #274d8b;
$theme-cta-default-shadow: #11213b;
$theme-cta-default-sel-bg: #2d589f;
$theme-cta-default-sel-shadow: #214277;
$theme-cta-primary-bg: #3771d0;
$theme-cta-primary-shadow: #1f4482;
$theme-cta-primary-sel-bg: #4c80d5;
$theme-cta-primary-sel-shadow: #2d65c0;
$theme-cta-featured-bg: #30737b;
$theme-cta-featured-shadow: #1e4c52;
$theme-cta-featured-sel-bg: #265c63;
$theme-cta-featured-sel-shadow: #1d494f;
$theme-cta-action-icon: #85b3ff;

// Misc colours
$theme-light-red: #fde5e5;
$theme-yellow: #ffcc00;
$theme-light-blue: #d5e5ff;
$theme-green: #008000;
$theme-form-success-bg: #00703c;