@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

@import "mixins/buttons";

@import "partials/fonts";
@import "partials/wrapper";

@import "layouts/content-page";
@import "layouts/widget-page";

@import "components/announcements-banner";

@import "contributor/colours";
@import "contributor/fonts";

.digitalplace-wrapper {

	font-size: 1.1875rem;
	color: $theme-grey1;
	background-color: $theme-white;

	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;

	@import "partials/typography";
	@import "partials/buttons";
	@import "partials/header";
	@import "partials/content";
	@import "portlet/portlet";
	@import "partials/nav";
	@import "partials/footer";

	@import "fragments/common";
	@import "fragments/guide";
	@import "fragments/page-header";

	@import "components/breadcrumb";
	@import "components/create-account";
	@import "components/ddl-display";
	@import "components/forms";
	@import "components/login";
	@import "components/my-details";
	@import "components/nav-menu-link-panels";
	@import "components/news";
	@import "components/related-content-list";
	@import "components/search-bar";
	@import "components/simple-list";
	@import "components/site-navigation-breadcrumb";

	@import "contributor/typography";
	@import "contributor/header";
	@import "contributor/footer";
	@import "contributor/content";
	@import "contributor/links-and-buttons";
	@import "contributor/fragments-and-adts";
	@import "contributor/forms";
	@import "contributor/search";
	@import "contributor/bin-collection-day-finder";
	@import "contributor/cookie-consent";
	@import "contributor/cards";
}

@media screen and (max-width: 600px) {
	.portlet > .portlet-topper {
	    display: flex;
	    left: 0;
	    opacity: 0;
	    position: absolute;
	    right: 0;
	    transition: opacity 0.25s, transform 0.25s;
	    top: 0;
	}
}
@media (max-width: 767.98px){
	html:not(#__):not(#___) .controls-visible .portlet-content-editable {
		border-color: transparent;
	}
}

.quick-access-nav{
    top: 0;
}