@mixin btn-all {
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	line-height: 23px;
	position: relative;
	padding: 10px 21.5px 7px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1875rem;
	font-weight: bold;
	box-shadow: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@mixin btn-default-unselected {
	@include btn-all;
	color: $theme-cta-default-color;
	background-color: $theme-cta-default-bg;
	border: 2px solid $theme-cta-default-color;
	transition: background .2s;
}

@mixin btn-default-selected {
	@include btn-all;
	color: $theme-cta-default-sel-color;
	background-color: $theme-cta-default-sel-bg;
	border: 2px solid $theme-cta-default-sel-bg;
	transition: background .2s;
}

@mixin btn-primary-unselected {
	@include btn-all;
	color: $theme-cta-primary-color;
	background-color: $theme-cta-primary-bg;
	transition: background .2s;
	padding: 13.5px 25px;
	.lexicon-icon, i, i.glyphicon {
		display: none;
	}
}

@mixin btn-primary-selected {
	@include btn-all;
	color: $theme-cta-primary-color;
	background-color: $theme-cta-primary-sel-bg;
	transition: background .2s;
	padding: 13.5px 25px;
	.lexicon-icon, i, i.glyphicon {
		display: none;
	}
}

@mixin btn-secondary-unselected {
	@include btn-default-unselected;
}

@mixin btn-secondary-selected {
	@include btn-default-selected;
}

@mixin btn-featured-unselected {
	@include btn-all;
	background-color: $theme-cta-featured-bg;
	border: 2px solid $theme-cta-featured-sel-bg;
	transition: background .2s;
	padding: 13.5px 25px;
	.lexicon-icon, i, i.glyphicon {
		display: none;
	}
}

@mixin btn-featured-selected {
	@include btn-all;
	background-color: $theme-cta-featured-sel-bg;
	border: 2px solid $theme-cta-featured-sel-bg;
	transition: background .2s;
	padding: 13.5px 25px;
	.lexicon-icon, i, i.glyphicon {
		display: none;
	}
}

@mixin btn-search {
	@include btn-all;
	color: $theme-white;
	background-color: $theme-brand-primary;
	height: 100%;
	width: initial;
}

@mixin btn-action-next {
	padding-right: 60px;
	padding-left: 25px;
}

@mixin btn-action-prev {
	padding-right: 25px;
	padding-left: 60px;
}

@mixin a-prev {
	padding-left: 30px;
}

@mixin btn-action-next-after {
	font-family: brunel;
	font-size: 1.125rem;
	color: $theme-cta-primary-icon-color;
	position: absolute;
	right: 25px;
	left: auto;
	top: 13px;
	content: '\e613';
	transition: all .2s;
}

@mixin btn-action-prev-after {
	font-family: brunel;
	font-size: 1.125rem;
	color: $theme-cta-primary-icon-color;
	position: absolute;
	right: auto;
	left: 25px;
	top: 13px;
	content: '\e616';
	transition: all .2s;
}

@mixin a-prev-after {
	font-family: brunel;
	font-size: 1.125rem;
	position: absolute;
	right: auto;
	left: 12px;
	top: 2px;
	content: '\e616';
}

@mixin btn-action-next-selected-after {
	color: $theme-cta-primary-icon-color;
	right: 18px;
}

@mixin btn-action-prev-selected-after {
	color: $theme-cta-primary-icon-color;
	left: 18px;
	right: auto !important;
}

@mixin btn-focus {
	outline: none !important;
	box-shadow: 0 0 0 3px $theme-highlight !important;
}

@mixin btn-add-delete {
	float: right;
	.lexicon-icon {
		display: block;
		padding: 0.2rem;
		margin: 0;
	}
	&::after {
		display: none;
	}
	&:hover,
	&:focus,
	&:focus-within,
	&:active,
	&:active {
		.lexicon-icon {
			display: block !important;
		}
	}
}

@mixin btn-add-delete-row {
	padding-left: 0;
	padding-right: 0;

	.lexicon-icon, i, i.glyphicon {
		display: inline-block;
	}
}